.homepage {
    height: 400px;
    width: 1535px;
    background-image: url('http://www.danadorobantu.com/images/cocktail-2.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}