
body {}

.simple-card{
    height: 300px;
    background-image: url("https://source.unsplash.com/random");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;

.homepage {
    height: 400px;
    width: 1535px;
    background-image: url('http://www.danadorobantu.com/images/cocktail-2.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-content {
    height: 50px;
    width: 50px;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

