.homepage {
    height: 400px;
    width: 1535px;
    background-image: url('http://www.danadorobantu.com/images/cocktail-2.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row{
    display: flex;
}

.col-12 col-md-8 col-sm-4{
 display: flex;
}

.article-card{
    color: blue;
    background-size: cover;
    /*display: flex;*/
    justify-content: space-around;
    align-items: center;
}

.cards-wallpaper{
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/100/126/large_2x/vector-cooking-stuff-icon-set.jpg');
    display: flex;
}
.blockquote{
    color: red;
    }


