{% extends 'layout.html'%}

{% block body %}
<div class="cards-wallpaper">
    <div class="row">
        {% for article in articles %}
        <div class="col-12">
            <div class="container-fluid">
                <div class="article-card">
                    <div class="card-column" ></div>
                    <div class="card text-white bg-warning">
                        <img src="{{article.image}}" class="card-img-top">
                        <h3 class="card-title">{{article.title}}</h3>
                        <blockquote class="blockquote">
                            <footer class="blockquote-footer">By {{article.chef}}</footer>
                        </blockquote>
                        <a class='btn btn-success' href="articles/{{article.id}}">Read article</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
</div>
{% endblock %}

