<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>


    <div
            style="text-align:center">
        <h1>Contact Us</h1>
        <p>Here's how to contact us:</p>

  </div>

    <div>

        <label for="fstname">First Name</label>
        <input type="text" id="fstname" name="firstname" placeholder="what's your name..?">

        <label for="lstname">Last Name</label>
        <input type="text" id="lstname" name="lastname" placeholder="what's your last name..?">

    </div>


    <div>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="write your message here..." style="height:170px"></textarea>



    </div>





       <style>

        body {background-color: powderblue;}

        input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

    </style>
</head>
<body>

</body>
</html>