<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Food Mood Chefs</title>
    <style>
        body {background-color: yellow;}
        h1 {color: red;}
        h1 {margin: 20px;}
        h1 {padding: 20px;}
        h1 {text-align: center;}

        h2 {color: purple;}
        h2 {text-align: center;}

        p {color: blue;}
        p {text-align: center;}
    </style>
</head>
    <body>
        <h1>🍝Our Story🍝</h1>

        <h2>Who are we?</h2>
        <p>We are 3 world renowned chefs by the names; Kirt, Tahsin and Yousuf.
            Each of us specialise in different cuisines; American, Asian and European.

        <h2>Where did it all start?</h2>
        <p>We all met during the international master world chef competition, where we competed against each other to
            become the worlds greatest chef. After the competition, we decided to settle our differences and work together
        and use our powers for the greater good.</p>

        <h2>Our Mission</h2>
        <p>So we are 3 world renowned chefs who have come together from different corners of the world for one purpose... </p>

        <h4 style="text-align: center;">To cook DELICIOUS FOOD that will put you in the MOOD
            and DOCUMENT it so that you can cook using our recipes too!</h4>

        <p>Enjoy our blog!</p>
        <h2>🍝Bon appetite!🍝</h2>
    </body>
</html>